# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# BetterVSR Specific
ffmpeg_debug.log
*_BetterVSR.mp4
assets/ffmpeg/

# Nuitka / Build
*.build/
*.dist/
*.exe

# Nuitka / Build outputs
*.build/
*.onefile-build/
*.dist/
BetterVSR_Pro.exe
ffmpeg_debug.log